<%- include ('../partials/left-sidebar') %>

<div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Full Name:<br>
              <input type="text" name="full_name" placeholder="Full Name">
              <br>
              Username:<br>
              <input type="text" name="username" placeholder="Username">
              <br>
              Email:<br>
              <input type="text" name="email" placeholder="Email">
              <br>
              Password:<br>
              <input type="text" name="password" placeholder="Password">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    
<%- include ('../partials/right-sidebar') %>
 